footer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    padding: 8px 0;
}

.iconfont {
    font-size: 30px;
    color: #000;
    display: flex;
    justify-content: center;
}

footer a span {
    display: block;
    color: #000;
    margin-top: -1px;
    font-size: 18px;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
input {
    margin: 0;
    padding: 0;
    border: none;
    outline: 0;
    font-family: STHeitiSC-Light;
    font: inherit;
    vertical-align: baseline;
}

html,
body,
form,
fieldset,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
    -webkit-text-size-adjust: none;
}

html,
body {
    width: 100%;
    height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    font-family: arial, sans-serif;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

ins,
a {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    display: inline-block;
}

input,
textarea {
    border: none;
    background: none;
    outline: none;
    -webkit-appearance: none;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);
    -ms-tap-highlight-color: rgba(0, 0, 0, 0);
    -o-tap-highlight-color: rgba(0, 0, 0, 0);
}


/*html {
    font-size: $browser-default-font-size;
}*/

html {
    font-size: 37.5px;
}

.box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.main {
    flex: 1;
    width: 100%;
}

.main .content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.main .content dl {
    width: 40%;
    background: pink;
    padding: 0.26667rem;
    margin-top: 0.53333rem;
}

.main .content dl dt {
    width: 100%;
    height: 2.66667rem;
    background: #fff;
}

.main .content dl dd {
    text-align: center;
    line-height: 0.8rem;
}